@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
section
{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000, #0f0, #000);
    animation: animate 5s linear infinite;
    z-index: 1;
}
@keyframes animate
{
    0%,100%
    {
        transform: translateY(-100%);
    }
    50%
    {
        transform: translateY(100%);
    }
}

section span
{
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1.5s;
}
section span:hover
{
    background: #0f0;
    box-shadow: 0 0 10px #0f0, 0 0 40px #0f0, 0 0 80px #0f0;
    transform: scale(1.1);
    transition: .5s;
}

section .signin
{
    position: absolute;
    width: 400px;
    background-color: #222;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
section .signin .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
section .signin .content h2
{
    font-size: 2em;
    color: #0f0;
    text-transform: uppercase;
}
section .signin .content .form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
section .signin .content .form .inputBox
{
    position: relative;
    width: 100%;
}
section .signin .content .form .inputBox input
{
    position: relative;
    width: 100%;
    background-color: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}
section .signin .content .form .inputBox i
{
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: .5s;
    pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
    color: #fff;
    font-size: .8em;
    transform: translateY(-7.5px);
}
.signin .content .form .links
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.signin .content .form .links a
{
    color: #fff;
    text-decoration: none;
    font-size: .9em;
}
.signin .content .form .links a:nth-child(2)
{
    color: #0f0;
    font-weight: 600;
}
.signin .content .form .inputBox input[type="submit"]
{
    padding: 10px;
    background: #0f0;
    color: #111;
    font-weight: 600;
    font-size: 1.25em;
    letter-spacing: .05em;
    cursor: pointer;
}
.signin .content .form .inputBox input[type="submit"]:active {
    transform: scale(0.98);
    transition: transform 0.1s;
}
@media (max-width: 900px)
{
    section span
    {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}
@media (max-width: 600px)
{
    section span
    {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}